Repository boostcamp-2020/IssueTracker-01, pull requests merged in 2020-11, with the labels that each got.

#31 [WEB] GitHub OAuth 로그인 부분 리팩토링 진행
  backend/config/index.js
  backend/jsconfig.json
  backend/models/commentModel.js
  backend/models/userModel.js
  backend/package.json
  backend/passport/passport.js
  backend/routes/index.js
  backend/routes/oauth/github.js
  backend/services/loginService.js
  sample.env
Labels: feature, refactoring

#30 [WEB] 마일스톤 API 구현
  README.md
  backend/.eslintrc.js
  backend/models/index.js
  backend/models/issueModel.js
  backend/models/milestoneModel.js
  backend/routes/api/milestone.js
  backend/routes/index.js
  backend/services/milestoneService.js
Labels: backend, feature

#32 [Web] 레이블 API 구현
  backend/app.js
  backend/models/labelModel.js
  backend/routes/api/label.js
  backend/services/labelService.js
Labels: backend, feature, refactoring

#38 [iOS] 다중 셀 선택 화면 구현
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Views/Issue/IssueCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/IssueCell.xib
Labels: feature, ios

#41 [iOS] 이슈 세부 뷰 구현
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/IssueViewController.swift
Labels: feature, ios

#42 [iOS] 이슈 불러오기
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Models/Issue.swift
  ios/IssueTracker/IssueTracker/Models/NetworkManager.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueViewModel.swift
Labels: feature, ios

#49 [iOS] 이슈 뷰 구현 진행
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueFilterViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/MainViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/UIViewController+Keyboard.swift
  ios/IssueTracker/IssueTracker/Info.plist
  ios/IssueTracker/IssueTracker/Models/GithubLoginManager.swift
  ios/IssueTracker/IssueTracker/Models/Issue.swift
  ios/IssueTracker/IssueTracker/Models/NetworkManager.swift
  ios/IssueTracker/IssueTracker/SceneDelegate.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueListViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueViewModel.swift
  ios/IssueTracker/IssueTracker/Views/Issue/Filter/IssueFilterHeader.swift
  ios/IssueTracker/IssueTracker/Views/Issue/Filter/IssueFilterMainCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/Filter/IssueFilterMainCell.xib
  ios/IssueTracker/IssueTracker/Views/Issue/IssueCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/IssueCell.xib
  ios/IssueTracker/IssueTracker/Views/Label/LabelBadge.swift
  ios/IssueTracker/IssueTracker/Views/Label/UIColor+hexColor.swift
  ios/IssueTracker/IssueTracker/Views/UIView+CornerRadius.swift
  ios/IssueTracker/IssueTracker/Views/UIView+IBInspectable.swift
Labels: feature, ios

#50 [iOS] 이슈 상세보기 화면 구현
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Models/Issue.swift
  ios/IssueTracker/IssueTracker/Models/NetworkManager.swift
  ios/IssueTracker/IssueTracker/ViewModels/CommentListViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/CommentViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueViewModel.swift
  ios/IssueTracker/IssueTracker/Views/Comment/CommentCollectionViewCell.swift
Labels: feature, ios

#54 [iOS] 이슈 뷰 구현
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueBottomSheetViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueEditViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueFilterViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/LoginViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/MainViewController.swift
  ios/IssueTracker/IssueTracker/Info.plist
  ios/IssueTracker/IssueTracker/Models/Comment.swift
  ios/IssueTracker/IssueTracker/Models/GithubLoginManager.swift
  ios/IssueTracker/IssueTracker/Models/Issue.swift
  ios/IssueTracker/IssueTracker/Models/IssueLabel.swift
  ios/IssueTracker/IssueTracker/Models/Label.swift
  ios/IssueTracker/IssueTracker/Models/Milestone.swift
  ios/IssueTracker/IssueTracker/Models/NetworkManager.swift
  ios/IssueTracker/IssueTracker/Models/ServerResponse.swift
  ios/IssueTracker/IssueTracker/Models/User.swift
  ios/IssueTracker/IssueTracker/SceneDelegate.swift
  ios/IssueTracker/IssueTracker/Utilitys/NetworkManager.swift
  ios/IssueTracker/IssueTracker/ViewModels/CommentCellViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueAddViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueBottomSheetViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueCellViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueDetailViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueFilterViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueListViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueViewModel.swift
  ios/IssueTracker/IssueTracker/Views/Issue/AssigneeCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/Comment/IssueCommentCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/IssueCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/IssueCell.xib
  ios/IssueTracker/IssueTracker/Views/Issue/MilestoneCell.swift
  ios/IssueTracker/IssueTracker/Views/Label/LabelBadge.swift
Labels: feature, ios

#63 [iOS] 레이블/마일스톤 뷰 구현
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueEditViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Label/LabelAlertViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Label/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Milestone/MilestoneAlertViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Milestone/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/Models/Label.swift
  ios/IssueTracker/IssueTracker/Models/Milestone.swift
  ios/IssueTracker/IssueTracker/Utilitys/AlertManager.swift
  ios/IssueTracker/IssueTracker/Utilitys/NetworkManager.swift
  ios/IssueTracker/IssueTracker/ViewModels/LabelCellViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/LabelViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/MilestoneCellViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/MilestoneViewModel.swift
  ios/IssueTracker/IssueTracker/Views/Issue/Milestone/MilestoneCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/MilestoneCell.swift
  ios/IssueTracker/IssueTracker/Views/Label/LabelCell.swift
Labels: feature, ios

#57 [WEB] 레이블 페이지 구현
  backend/routes/api/label.js
  frontend/jsconfig.json
  frontend/src/App.js
  frontend/src/components/label/Label.js
  frontend/src/components/label/LabelCount.js
  frontend/src/components/label/LabelCreate.js
  frontend/src/components/label/LabelEdit.js
  frontend/src/components/label/ListHead.js
  frontend/src/components/label/TabButton.js
  frontend/src/components/utils/GreenButton.js
  frontend/src/components/utils/List.js
  frontend/src/components/utils/SVG.js
  frontend/src/components/utils/WhiteButton.js
  frontend/src/contexts/label.js
  frontend/src/pages/Label.js
  frontend/src/templates/LabelButtons.js
  frontend/src/templates/LabelList.js
  frontend/webpack.config.js
Labels: frontend

#65 [iOS] 마일스톤 구현
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/Label/LabelAlertViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Label/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Milestone/MilestoneAlertViewController.swift
  ios/IssueTracker/IssueTracker/Controllers/Milestone/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/Models/Label.swift
  ios/IssueTracker/IssueTracker/Utilitys/NetworkManager.swift
  ios/IssueTracker/IssueTracker/ViewModels/IssueAddViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/MilestoneCellViewModel.swift
  ios/IssueTracker/IssueTracker/ViewModels/MilestoneViewModel.swift
  ios/IssueTracker/IssueTracker/Views/Issue/Milestone/MilestoneCell.swift
Labels: feature, ios

#66 [iOS] milestone cell 문제 해결
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controllers/Issue/IssueEditViewController.swift
  ios/IssueTracker/IssueTracker/Views/Issue/BottomSheet/AssigneeCell.swift
  ios/IssueTracker/IssueTracker/Views/Issue/BottomSheet/BottomSheetMilestoneCell.swift
Labels: hotfix, ios

#70 [Web] 이슈 생성 페이지에서 레이블 선택 기능 구현(일부 기능 누락), 기타 버그 수정
  frontend/src/components/milestone/MilestoneTitle.js
  frontend/src/contexts/milestone.js
  frontend/src/contexts/userList.js
  frontend/src/organisms/issue/IssueAddingMain.js
  frontend/src/organisms/issue/IssueAddingSideBar.js
Labels: feature, frontend

#69 [WEB] 이슈 리스트 페이지 구현
  frontend/package.json
  frontend/src/components/issue/FilterButton.js
  frontend/src/components/issue/FilterInput.js
  frontend/src/components/issue/Issue.js
  frontend/src/components/issue/IssueFilter.js
  frontend/src/components/issue/IssueList.js
  frontend/src/components/utils/SVG.js
  frontend/src/contexts/issue.js
  frontend/src/pages/IssueMain.js
  frontend/src/templates/IssueButtons.js
  frontend/src/templates/IssueList.js
Labels: feature, frontend
